.title {
    background-image: 
      linear-gradient(to right, #a4f4ff, rgba(150, 243, 79, 0.859));
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: center bottom;
    color: rgb(47, 47, 47);
    text-decoration: underline;
}
