
.contentbox {
    width: 300px;
    height: 85px;
    border: 0px;
    border-radius: 5px;
    overflow: hidden;
    resize: none;
}

.inputtextbox {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputtextbox textarea{
    overflow:hidden
}

.fontweight {
    margin: 10px 0px;
}

.fontsize {
    margin: 10px 0px;    
}

.fontsize input{
    cursor: pointer;
    height: 5px;
    background: #c9a8f0;
    -webkit-appearance: none;
    box-shadow: 2px 1px 4px #9f63da;
    accent-color: #9c45db;
}

.rgbacolorpicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.rgbacolorpicker header {
    margin-bottom: 10px;
}

.changetextcolor {
    display: inline-flex;
}

.deletebutton:hover {
    border: 1px solid; 
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2); 
    outline-color: rgba(255, 255, 255, 0); 
    outline-offset: 15px; 
    text-shadow: 1px 1px 2px #427388;  
}

.deletebutton {
    padding: 10px 25px;
    background-color:#ff6161;
    border-radius: 4px;
    border: 0px;
    color: white;
    cursor: pointer;
}